@import("../../../../stylus/index.styl")

.info
    width 100vw
    height $infoHeight
    position relative

.info-logo
    width 50%
    height 100%

.info-search
    position absolute
    right $margin
    top: 0.15rem
    width 2rem
    height .5rem
    border-style: none
    outline:none;
    background: $font-color4
    text-align: center
    border-radius: 0.2rem


    