@import("../../../../stylus/index.styl")

.Info
    height: 2rem;
    margin-top: .3rem;
    margin-left: .3rem;
    position relative

.Info-h3
    font-size: $h2
    
.Info-div1
    font-size: $h2
    color: red 
    margin-top: .1rem

.Info-div2
    font-size: $h3
    color: $font-color4
    margin-top: .1rem
    text-decoration: line-through

.Info-div3
    width 1rem
    height .5rem
    font-size: $h3
    line-height: .5rem
    text-align: center
    color: orange
    border: 1px solid orange 
    position: absolute;
    top: 1.1rem;
    left: 2rem;

.Info-div4   
    width 1rem
    height .5rem
    font-size: $h3
    line-height: .5rem
    text-align: center
    color: orange
    border: 1px solid orange 
    position: absolute;
    top: 1.1rem;
    left: 3.1rem;