@import("./color.styl")
@import("./size.styl")
.btn{
    background: $primary;
    color: $font-fff;
    font-size: $h3;
    text-align: center;
    height: $buttonHeight;
    width: 80%;
    border-radius: $margin
    line-height: $buttonHeight
    margin: .2rem auto;
}
.btn1{
    background: $primary;
    color: $font-fff;
    font-size: $h3;
    text-align: center;
    height: $buttonHeight;
    width: 2rem;
    border-radius: $margin
    line-height: $buttonHeight
    margin-left: .4rem;
    border-style: none
    float left
}
.pass{
   width: 70%;
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
    border-bottom: 0.01rem solid;
    padding-bottom: 0.1rem;
    /* padding-top: 0.1rem; */
    line-height: .5rem;
    }
    .pass input{
    margin-left: .1rem;
    border-style: none;
    outline:none;
    
    }