@import("../../stylus/index.styl");
.shop 
    .item 
        width: 100vw
        overflow hidden
        
        .inner
            width: 9rem
            height: 2rem 
            border: $borderWidth solid $font-color3
            box-sizing: border-box
            overflow hidden
            margin: $margin 0
            transition: all 0.3s
            .info   
                width: 50%;
                float left
            .del
                width: 1.8rem
                background: $primary 
                color: $font-fff 
                text-align: center
                line-height: 2rem
                float right
        .inner-show-del
            margin-left: -1.8rem
    .footer
        width: 100vw 
        height: $footerHeight 
        position fixed 
        background: $font-fff 
        left 0 
        bottom: $footerHeight 
        border-top: $borderWidth solid $font-color3
        box-sizing: border-box
        img 
            width: 0.3rem
            height: 0.3rem
        .quanxuan 
            float left
            margin 0 $margin
        .edit 
            float left 
            margin 0 $margin
        .price 
            float left
            margin 0 $margin



.shop-price
    margin-top: .1rem

.shop-img1 
    width: 0.3rem
    height: 0.3rem
    float left
    margin: $margin
.shop-img2
    float: left;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.2rem
    overflow hidden

.shop-h3
    margin-top: 0.2rem   
    margin-left: 0.2rem  


.shop-btn1
    width .5rem


.shop-btn2
    width .5rem