@import("../../../../stylus/index.styl")

.list
  width 100vw

.item-list
  overflow hidden 
  display: block
  margin: .3rem; 
   
.list-img
  width: 2.5rem;
  float: left;
  
.list-span
  font-size: $h2;
  line-height: 0.8rem;
  margin-left: 0.4rem;
  float: left;
  width: 50%;

.list-p
  font-size: $h2
  color: red
  line-height: .5rem;
  margin-left: .4rem;
  float left
  width: 3rem;



  








 
           