@import("../../../../stylus/index.styl");
.picker 
    width: 100vw 
    height: 100vh
    background: rgba(0,0,0,0.5)
    position fixed
    left 0
    top: 0
    .con
        width: 100vw 
        height: 60vh
        overflow-y: auto
        background: $font-fff
        position absolute
        left 0 
        bottom: 0
        .img-parent
            width: 2rem 
            height: 2rem
            margin-left: .4rem;
            margin-top: .4rem;
            img
                width: 100% 
                height: 100%
        .spec-title
            font-size: $h1
            color: $primary
            margin-top: .2rem;
            margin-left: .4rem;
        .btns
            overflow hidden
            margin-left: .2rem;
            span 
                float left
                padding $padding $margin 
                margin $margin 
                border $borderWidth solid $font-color2 
            .select
                border $borderWidth solid $primary
                color $primary

.picker-h3
    font-size: $h2
    margin-top: .2rem;
    margin-left: .4rem;
