@import("../../stylus/index.styl");
.detail 
    padding-bottom: $footerHeight
    .footer
        width: 100vw 
        height: $footerHeight 
        box-sizing: border-box
        position fixed
        left 0
        bottom: 0
        background: $font-fff
        border-top: $borderWidth solid $font-color3


.btn2{
    background: $primary;
    color: $font-fff;
    font-size: $h3;
    text-align: center;
    height: $buttonHeight;
    height: 0.8rem;
    width: 25%;
    line-height: 0.8rem;
    float: right;
}
